<section class="section">
  <div class="columns is-mobile is-centered">
    <div
      class="column is-three-quarters-mobile is-two-thirds-tablet is-half-desktop is-half-widescreen is-one-third-fullhd"
    >
      <div class="container is-vcentered">
        {{! card element contains form for login}}
        <div class="card mt-6">
          <div class="card-content">
            <div class="content">
              <div class="field">
                <label class="label">Email</label>
                <div class="control">
                  <input
                    class="input is-primary"
                    type="text"
                    id="email-login"
                  />
                </div>
              </div>
              <div class="field">
                <label class="label">Password</label>
                <div class="control">
                  <input
                    class="input is-primary"
                    type="password"
                    id="password-login"
                  />
                </div>
              </div>
              <div class="field">
                <div class="control">
                  <button
                    class="button is-link has-background-primary has-text-white"
                    id="login-btn"
                    type="submit"
                  >Login</button>
                </div>
              </div>
              <div class="field">
                <label class="label">No account?</label>
                <div class="control">
                  <button
                    class="button is-link has-background-primary has-text-white"
                    type="submit"
                    id="signUp-page-btn"
                  >Sign up</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<script src="/js/login.js"></script>